      #tableStatsDiv
      {
         position: relative;
         padding-bottom: 20px;
         width: 100%;
      }
      



      #tableStatsTeachers {
         border-collapse: collapse;
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         text-align: center;
         position: relative;
      }

      #tableStatsTeachers tr
      {
         font-weight: normal;
         font-size:small;

      }
      #tableStatsTeachers tr:nth-child(even)
      {
         background-color:#FAF5FB;

      }
      #tableStatsTeachers thead
      {
         border-bottom: 1px solid black;
         font-weight: normal;
         font-size:medium;
         
      }
      #tableStatsTeachers th
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 25%;
      }

      #tableStatsDiv h2
      {
         font-weight:bold;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
      }
      #tableStatsDiv th:hover
      {
         background-color: #FAFAFA;
         border-bottom: 3px solid black;
      }
      #tableStatsDiv th:hover::after
      {
         content: '↓';
         color:#50A5C9;

      }
      .fullWebsite
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }
      #tableStatsDiv td{
         padding: 8px 0px 8px 0px;
      }
