
.teacherCompactCard
{
   height: 200px;
   width: 100px;
   min-width: 100px;
   padding-right: 8px;
}
.teacherCompactCard .pictureDivWrap
{
   margin-left: auto;
   height: 50%;
   width: 100%;
   color: #F89484;
   margin-bottom: 10px;
   position: relative;
}
.pictureDivWrap:hover
{
   color: #C84A3A;
}
.pictureDivWrap:hover .alternativeInitials
{
   font-size: large;
   transition: 0.5;
}
.teacherCompactCard .pictureDiv
{
   margin-left: auto;
   height: 100%;
   width: 100%;
   border-radius: 100%;
   border: 3px solid #F89484;
   color: #F89484;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 0;
}
.teacherPicturePreview
{
   height: 100%;
   width: 100%;
   border-radius: 100%;
   background-position: center;
   background-size: cover;
   object-fit: cover;
   transition: 0.5s;
   z-index: 0;

}

.teacherPicturePreview:hover{
   transform: scale(1.25);

}

.pictureDiv:hover
{
   border: 3px solid #C84A3A;
   color: #C84A3A;
}

.teacherCompactCard #fullNameDiv
{
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-bottom: 10px;
}
.teacherCompactCard #countryOriginDiv
{
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size:x-small;
}
.teacherCompactCard span
{
   display: block;
}
.teacherCompactCard .isFavourite
{
font-size:200%;
color: #ECEC02;
position: absolute;
right: 0;
visibility: hidden;
align-items: center;
z-index: 1;
}
.teacherCompactCard .alternativeInitials
{
   position: absolute;
   font-weight: bold;
   z-index: -1;
   margin-left: auto;
}
#Teacher1 .teacherPicturePreview
{
   background-image: url("person.png");
}
#Teacher2 .teacherPicturePreview
{
   background-image: url("person3.png");
}
#Teacher3 .teacherPicturePreview
{
   background-image: url("person1.png");
   
}
#Teacher3 .isFavourite
{
   visibility: visible;
}
#Teacher1 .isFavourite
{
   visibility: visible;
}
